COMPOSE_PROJECT_NAME=utrada-crm
REGISTRY_IMAGE=registry.gitlab.com/example/utrada-crm
IMAGE_TAG=latest
BACKEND_ENV_FILE=./backend.env
# HTTP_HOST_PORT=80
# HTTPS_HOST_PORT=443

ADMIN_HOST=admin.utrada.com
CLIENT_HOST=crm.utrada.com
API_HOST=be-ut.utrada.com
ADMIN_ORIGIN=https://admin.utrada.com
CLIENT_ORIGIN=https://crm.utrada.com
ADMIN_ALT_ORIGIN=https://admin.utradaglobal.com
CLIENT_ALT_ORIGIN=https://crm.utradaglobal.com

TLS_CERT_NAME=utrada-crm
CERTBOT_EMAIL=ops@example.com
